<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Application_URL" value="https://executeautomation.com/"/>






    <!-- BrowserStack Settings-->
    <add key="browserStackUsername" value="wkhlrpuser1" />
    <add key="browserStackKey" value="iZy46Kfv72miee9N8sdr" />
    <add key="browserStackServer" value="http://hub-cloud.browserstack.com/wd/hub/" />
    <add key="browserStackProject" value="OCE" />
  </appSettings>
</configuration>